Assignment: SQL Notebook for Peer Assignment
    
Introduction
Using this Python notebook you will:

Understand the Spacex DataSet
Load the dataset into the corresponding table in a Db2 database
Execute SQL queries to answer assignment questions
Overview of the DataSet
SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010. SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://ddc44955:p9fhx-jzj4mg6p2s@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

Tasks
Now write and execute SQL queries to solve the assignment tasks.

Task 1
Display the names of the unique launch sites in the space mission

In [3]:
%sql SELECT DISTINCT launch_site from SPACEXTBL1

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('CCAFS LC-40',),
 ('CCAFS SLC-40',),
 ('CCAFSSLC-40',),
 ('KSC LC-39A',),
 ('VAFB SLC-4E',)]

Task 2
Display 5 records where launch sites begin with the string 'CCA'

In [4]:
%sql SELECT * from SPACEXTBL1 WHERE launch_site LIKE 'CCA%' limit 5

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

Task 3
Display the total payload mass carried by boosters launched by NASA (CRS)

In [5]:
%sql SELECT sum(payload_mass__kg_) from SPACEXTBL1 where customer = 'NASA (CRS)'

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(45596,)]

Task 4
Display average payload mass carried by booster version F9 v1.1

In [6]:
%sql SELECT AVG(payload_mass__kg_) from SPACEXTBL1 where booster_version like 'F9 v1.1%'

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('2534.666666'),)]

Task 5
List the date when the first succesful landing outcome in ground pad was acheived.

Hint:Use min function

In [7]:
%sql SELECT MIN(DATE) from SPACEXTBL1 where landing__outcome = 'Success (ground pad)'

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(datetime.date(2015, 12, 22),)]

Task 6
List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [9]:
%sql SELECT distinct booster_version from SPACEXTBL1 where landing__outcome = 'Success (drone ship)' AND (payload_mass__kg_ between 4000 And 6000)

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('F9 FT  B1021.2',), ('F9 FT  B1031.2',), ('F9 FT B1022',), ('F9 FT B1026',)]

Task 7
List the total number of successful and failure mission outcomes

In [10]:
%sql SELECT mission_outcome, count(mission_outcome) as count from SPACEXTBL1 group by mission_outcome

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Failure (in flight)', Decimal('1')),
 ('Success', Decimal('99')),
 ('Success (payload status unclear)', Decimal('1'))]

Task 8
List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [11]:
%sql SELECT booster_version from SPACEXTBL1 where payload_mass__kg_ = (SELECT max(payload_mass__kg_) from SPACEXTBL1)

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

Task 9
List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015

In [12]:
%sql SELECT MONTHNAME(DATE),landing__outcome,booster_version,launch_site from SPACEXTBL1 where landing__outcome = 'Failure (drone ship)' and YEAR(DATE) = 2015

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

Task 10
Rank the count of successful landing_outcomes between the date 2010-06-04 and 2017-03-20 in descending order.

In [13]:
%sql SELECT landing__outcome,count(landing__outcome) as count from SPACEXTBL1 where DATE between '2010-6-4' and '2017-3-20' group by landing__outcome order by count DESC

 * ibm_db_sa://ddc44955:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('No attempt', Decimal('10')),
 ('Failure (drone ship)', Decimal('5')),
 ('Success (drone ship)', Decimal('5')),
 ('Controlled (ocean)', Decimal('3')),
 ('Success (ground pad)', Decimal('3')),
 ('Failure (parachute)', Decimal('2')),
 ('Uncontrolled (ocean)', Decimal('2')),
 ('Precluded (drone ship)', Decimal('1'))]